* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #e5e7eb;
    color: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #111827;
    color: var(--cor-fundo-card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoArea img {
    height: 45px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    display: inline-block;
    padding: 4px 10px;
    background-color: #e5e5e5;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background: #374151;
    color: var(--cor-fundo-card);
}

nav a img {
    height: 14px;
}

main {
    flex: 1;
    padding: 40px 20px;
}

.perfil-container {
    background: white;
    width: 100%;
    max-width: 900x;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.perfil-topo {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.perfil-topo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #15803d;
}

.perfil-info h2 {
    margin-bottom: 5px;
    font-size: 22px;
}

.perfil-info p {
    color: #555;
    margin-bottom: 10px;
}

main button {
    background: #15803d;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

main button:hover {
    background: #166534;
}

.bio {
    margin-top: 20px;
    background: #f3f4f6;
    padding: 15px;
    border-radius: 10px;
}

.bio h3 {
    margin-bottom: 8px;
    color: #15803d;
}

.posts {
    margin-top: 30px;
}

.posts h3 {
    margin-bottom: 12px;
    color: #15803d;
}

.post {
    background: #f3f4f6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.2s;
}

.post:hover {
    background: #e5e7eb;
}

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 25px;
}
